pytest==8.1.1
numpy==1.26.4
torch==2.0.1+cu118
torchvision==0.15.2+cu118
torchaudio==2.0.2+cu118
openmim==0.3.9
mmengine==0.10.7
mmcv==2.0.1
# mmdet==3.1.0        .\mmdetection
# mmocr==1.0.1        .\mmocr